body {
    --primary-color: #11ba66;
    --primary-color-contrast: #ffffff;

}
.main-header{
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;

}


.logo{
    width: 162px;
}
