.app{
    color: red;
    background-color: blue;
    padding: 10px;
    border: 4px solid green;
    margin: 50px;
}
.box1{
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: yellow;
    margin: 25px 50px 75px 100px;
    border: 30px solid white;
    height: 450px;
    width: 450px;
    border-radius: 50%;



}
.box2{
    background-color: pink;
}
#root{
   //background-color: aqua;

}

iframe {
    width: 100%;

    height: 1024px;
}
